@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraBold.otf")
      format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Bold.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Bold.otf")
      format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Medium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Medium.otf")
      format("opentype");
}

:root {
  --main-1: #4a3aff;
  --main-2: #5d5a88;
  --main-3: #7159ff;
  --main-4: #b2adc2;
  --red-1: #ff002f;
  --modal-base: rgba(0, 0, 0, 0.3);
}

* {
  font-family: "Pretendard", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.workingDatePicker .css-1b1fjlj-MuiFormControl-root-MuiTextField-root *:hover {
  border: none;
  outline: none;
}

.workingDatePicker .css-jupps9-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: #fff;
  border-radius: 46px;
  width: 313px;
  height: 72px;
  font-size: 20px;

  &*:hover {
    border: none;
    outline: none;
  }
}

.workingDatePicker .css-1ll44ll-MuiOutlinedInput-notchedOutline {
  border: 1px solid #dddddd;
}

.workingDatePicker .css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 22px 32px;
}

.workingDatePicker .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
  border: 1px solid var(--main-1);
}

.workingDatePicker .css-1ysp02-MuiButtonBase-root-MuiIconButton-root {
  margin-right: 10px;

  &:hover {
    background: none;
  }
}
